dbcc
*.dbc
core
vgcore.*
*.o
*.d
*.log
*.conf
*.out
*.htm
ex*
*.1
*.pdf
*.html
*.xhtml
*.a
*.so
*.obj
*.pdb
*.iobj
*.ipdb
*.recipe
*.tlog
*.FileListAbsolute.txt
*.log


# QtCreator project files
*.pro.user
*.pro
*.config
*.files
*.includes
*.creator
*.creator.user

.directory
.project

*.json
